@tailwind base;
@tailwind components;
@tailwind utilities;

.component-background {
    background-color: #2f3349;
}

.general-background {
    background-color: #25293b;
}

.text-color {
    color: lightslategray;
}

/* Here I overwrite el-input background color. I am using the Devione technic, selecting an element
with a class-in-a-class trick. Meaning, we have an .el-input class element, that inside contains
another element with  .el-input__wrapper class.*/
.el-input .el-input__wrapper {
    background-color: #2f3349 !important;
}
