@tailwind base;
@tailwind components;
@tailwind utilities;

.component-background {
    background-color: #2f3349;
}

.general-background {
    background-color: #25293b;
}

.text-color {
    color: lightslategray;
}
