/* INCLUDING TAILWIND */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* DEFINING GLOBAL VARIABLES */
:root {
    --component-background: #2f3349;
    --general-dark-background: #25293b;

    /* TEXT SETTINGS */
    --text-color: #D0D4F1AD;
    --text-size: 15px;
    --text-font-weight: 400;
    --text-font-family: "Public Sans", sans-serif, "Segoe UI", "Helvetica Neue", arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* CLASSES */

.component_background {
    background-color: var(--component-background) !important;
}

.general_background {
    background-color: var(--general-dark-background) !important;
}

.text_default {
    color: var(--text-color);
    font-size: var(--text-size);
    font-family: var(--text-font-family);
    font-weight: var(--text-font-weight);
}





/* OVERWRITING ELEMENT UI CSS WITH MY CUSTOM CSS, THIS MUST BE THE LAST THING */

/* Here I overwrite el-input background color. I am using the Devione technic, selecting an element
with a class-in-a-class trick. Meaning, we have an .el-input class element, that inside contains
another element with  .el-input__wrapper class.*/
.el-input .el-input__wrapper {
    background-color: #2f3349 !important;
}
